:root {
  font-size: 62.5%;
  color-scheme: light dark;
  --paragraph-width: 700px;
  --spacing-left: calc(50% - 350px);
  --white: rgb(250, 250, 250);
  --off-white: rgb(243, 243, 243);
  --lighter-grey: rgb(215, 215, 215);
  --light-grey: rgb(198, 198, 198);
  --grey: rgb(82, 82, 82);
  --grey-transparent: rgb(82, 82, 82, 0.5);
  --dark-grey: rgb(52, 52, 52);
  --darker-grey: rgb(42, 42, 42);
  --black: rgb(24, 24, 24);
}

:root,
html.dark {
  --bg-color: var(--darker-grey);
  --bg-color-header: var(--black);
  --bg-color-code: var(--dark-grey);
  --font-color: var(--white);
  --scroll-thumb-color: var(--grey-transparent);
  --blockquote-border-color: var(--grey);
  --blockquote-box-shadow-color: 6px 6px var(--dark-grey);
  --signature-image: url(/img/signature-white.svg);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--white);
    --bg-color-header: var(--dark-grey);
    --bg-color-code: var(--off-white);
    --font-color: var(--dark-grey);
    --scroll-thumb-color: var(--grey-transparent);
    --blockquote-border-color: var(--grey);
    --blockquote-box-shadow-color: 13px 3px var(--off-white);
    --signature-image: url(/img/signature-black.svg);
  }
}

html.light {
  --bg-color: var(--white);
  --bg-color-header: var(--dark-grey);
  --bg-color-code: var(--off-white);
  --font-color: var(--dark-grey);
  --scroll-thumb-color: var(--grey-transparent);
  --blockquote-border-color: var(--light-grey);
  --blockquote-box-shadow-color: 13px 3px var(--lighter-grey);
  --signature-image: url(/img/signature-black.svg);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}

img {
  max-width: 100%;
}

body > header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-header);
}

.logo {
  flex-grow: 1;
}

.logo a {
  display: block;
}

.logo img {
  width: 32px;
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 32px;
}

main > header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 8px 0 8px;
}

.meta {
  grid-area: meta;
  font-weight: 200;
  font-style: italic;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

header img {
  grid-area: image;
  display: block;
  border: none;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 64px;
    line-height: 80px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
  margin: 0;
}

main > p:first-child {
  margin-top: 32px;
}

a {
  color: var(--font-color);
  text-decoration-thickness: from-font;
  text-underline-position: from-font;
}

a:hover {
  text-decoration-thickness: 3px;
}

h2 {
  font-weight: 600;
  font-size: 32px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
}

ul,
ol {
  margin: 0;
}

ul.index {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  list-style: none;
}

ul.index li {
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-direction: column;
}

ul.index li a {
  text-decoration: none;
  text-underline-position: under;
}

ul.index li a:hover {
  text-decoration: underline;
}

ul.index li span {
  flex-shrink: 0;
  font-weight: 200;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
}

blockquote {
  text-align: center;
  margin: 8px;
}

blockquote p {
  border: 1px solid var(--blockquote-border-color);
  box-shadow: 0 0 var(--blockquote-box-shadow-color);
  padding: 2rem 1rem;
  margin: 0;
  font-style: italic;
  font-weight: 200;
}

@media (min-width: 900px) {
  blockquote p {
    display: inline-block;
    width: fit-content;
    min-width: 700px;
  }
}

footer {
  margin: 100px 0;
  text-align: center;
  background-image: var(--signature-image);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 100px;
  padding-bottom: 192px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h2,
h3,
p,
ul,
ol,
section,
main > pre {
  margin-left: 8px;
  margin-right: 8px;
}

@media (min-width: 900px) {
  h2,
  h3,
  h4,
  main > p,
  section,
  ul,
  ol {
    max-width: var(--paragraph-width);
    margin-left: var(--spacing-left);
    margin-right: 0;
  }
  pre {
    padding-left: var(--spacing-left);
  }
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

.home-links ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-links ul li > a[title] {
  display: flex;
  align-items: center;
  gap: 24px;
}

.home-links ul li > a[title] svg {
  display: block;
  height: 4rem;
  width: 4rem;
  fill: var(--font-color);
}

footer .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

footer .icons > * {
  height: 3rem;
  width: 3rem;
}

footer .icons a svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--font-color);
}

/* TODO: Better fix to toggle colors  */
.light img[alt='clean-code'] {
  filter: invert(68%);
}
