.theme-switch {
  display: none;
  width: 53px;
  height: 30px;
  background-color: var(--bg-color);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 4px var(--font-color);
}

.js .theme-switch {
  display: initial;
}

.theme-switch [role='switch'] {
  pointer-events: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--font-color);
  position: absolute;
  border: none;
  border-radius: 14px;
  top: 3px;
  left: 3px;
  transition: 0.5s;
  transition-property: left;
}

.theme-switch [role='switch'][aria-checked='true'] {
  left: 50%;
}
