---
import { getBlogIndex, getReferences } from '../../helpers';
import FormattedDate from '../../components/FormattedDate.astro';
import BlogFooter from '../../components/BlogFooter.astro';
import Page from '../../layouts/Page.astro';

const collection = await getReferences();
---

<Page>
  <h1>References</h1>
  <p>I'm lazy, so here's things I often forget or need to look up:</p>
  <ul>
    {
      collection.map(entry => (
        <li>
          <a href={`/${entry.collection}/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Page>
