---
import { getUrl } from '../helpers';
import IconLink from './IconLink.astro';
import { BLOG_RSS_NAME, BLOG_RSS_PATHNAME } from '../consts';

const { title } = Astro.props;
const canonicalURL = getUrl(Astro.url.pathname, Astro.site);
---

<footer>
  <p class="icons">
    <IconLink href={BLOG_RSS_PATHNAME} title={BLOG_RSS_NAME} sprite="rss" rel="me" />
    <IconLink
      href="https://github.com/webpro/webpro.nl"
      title="The content of this website on GitHub"
      sprite="github"
      rel="me"
    />
    <IconLink href="https://bsky.app/profile/webpro.nl" title="My Bluesky profile" sprite="bluesky" rel="me" />
    <IconLink
      href={`https://news.ycombinator.com/submitlink?u=${canonicalURL}&t=${encodeURIComponent(title)}`}
      title="Share this article on Hacker News"
      sprite="hacker-news"
    />
    <IconLink href="https://fosstodon.org/@webpro" title="@webpro on fosstodon.org" sprite="mastodon" rel="me" />
    <IconLink href="https://simpleanalytics.com/webpro.nl" title="Simple Analytics" sprite="stats" rel="me" />
  </p>
  <p>Do you have a question or did you find an issue in this article?</p>
  <p>
    <a href="https://github.com/webpro/webpro.nl">Please let me know!</a> This website is fully open-sourced at GitHub.
  </p>
</footer>
