---
import Icon from './IconLink.astro';
---

<footer>
  <p class="icons">
    <Icon href="/blog/feed.xml" title="Frontend Ramblings RSS feed" sprite="rss" rel="me" />
    <Icon
      href="https://github.com/webpro/webpro.nl"
      title="The content of this website on GitHub"
      sprite="github"
      rel="me"
    />
    <Icon href="https://twitter.com/webprolific" title="My Twitter profile" sprite="twitter" rel="me" />
    <Icon href="https://fosstodon.org/@webpro" title="@webpro on fosstodon.org" sprite="mastodon" rel="me" />
    <Icon href="https://simpleanalytics.com/webpro.nl" title="Simple Analytics" sprite="stats" rel="me" />
  </p>
</footer>
