---
import Icon from './IconLink.astro';
import { BLOG_RSS_NAME, BLOG_RSS_PATHNAME } from '../consts';
---

<footer>
  <p class="icons">
    <Icon href={BLOG_RSS_PATHNAME} title={BLOG_RSS_NAME} sprite="rss" rel="me" />
    <Icon
      href="https://github.com/webpro/webpro.nl"
      title="The content of this website on GitHub"
      sprite="github"
      rel="me"
    />
    <Icon href="https://bsky.app/profile/webpro.nl" title="My Bluesky profile" sprite="bluesky" rel="me" />
    <Icon href="https://fosstodon.org/@webpro" title="@webpro on fosstodon.org" sprite="mastodon" rel="me" />
    <Icon href="https://simpleanalytics.com/webpro.nl" title="Simple Analytics" sprite="stats" rel="me" />
  </p>
</footer>
