---
import { LOGO_SVG, NAME } from '../consts';
import Search from './Search.astro';
import ThemeSwitch from './ThemeSwitch.astro';

const { back = '/' } = Astro.props;
---

<header>
  <div class="logo">
    <a href={back} title="Go back">
      <img src={LOGO_SVG} width="32" height="32" alt={NAME} />
    </a>
  </div>
  <Search />
  <ThemeSwitch />
</header>
