---
const { back = '/' } = Astro.props;
---

<header>
  <div class="logo">
    <a href={back} title="Go back">
      <img src="/img/logo.svg" width="32" height="32" alt="WebPro" />
    </a>
  </div>
  <input type="search" id="search" placeholder="Search..." autocomplete="off" aria-label="Search this site" />
  <label class="theme-switch" for="theme-toggle">
    <button type="button" id="theme-toggle" role="switch" aria-label="Switch color theme" aria-checked="false"></button>
  </label>
</header>
