---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import ArticleHeader from '../components/ArticleHeader.astro';
import ArticleFooter from '../components/ArticleFooter.astro';
import Scripts from '../components/Scripts.astro';
import StructuredContent from '../components/StructuredContent.astro';
---

<html lang="en">
  <head>
    <BaseHead {...Astro.props} type="article" />
  </head>

  <body>
    <Header back="/blog" />
    <main>
      <ArticleHeader {...Astro.props} />
      <slot />
    </main>
    <ArticleFooter />
    <button class="back-to-top">Back to top</button>
    <StructuredContent {...Astro.props} type="article" />
    <Scripts />
  </body>
</html>
