---
import BackToTop from '../components/BackToTop.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Scripts from '../components/Scripts.astro';
---

<html lang="en">
  <head>
    <BaseHead {...Astro.props} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <footer></footer>
    <BackToTop />
    <Scripts />
  </body>
</html>
